.App {
  text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.country{
    width: 100px;
    height: 100px;
}

.visitedCountry{
    width: 100px;
    height: 100px;
}

.country-container {
  display: flex; /* Use Flexbox */
  justify-content: space-between; /* Spacing between the two sections */
  gap: 20px; /* Gap between the two sections */
}

.visited-country,
.countries {
  flex: 1; /* Allow both sections to grow and occupy available space */
  border: 1px solid #ccc; /* Optional: Add borders for clarity */
  padding: 10px; /* Optional: Add padding for spacing inside sections */
}

